[Desktop Entry]
Version=1.0
Type=Application
Name=CupidWM
Comment=Compact X11 tiling window manager
Exec=cupidwm
TryExec=cupidwm
DesktopNames=CupidWM
Keywords=window manager;tiling;X11;

